openapi: 3.0.3
info:
  title: UniTrivia
  description: API to the game of UniTrivia
  version: 1.0.0
  license:
    name: MIT License
    url: https://opensource.org/licenses/mit-license.php
servers:
  - url: https://unitrivia.com/beneapi
paths:
  /login:
    post:
      description: |
        Se le pasa como parámetros el nombre de usuario y la contraseña en texto plano.

        Devuelve el identificador temporal con el que identificar todas las operaciones
        relacionadas con el usuario y un error en caso de no poder identificarlo.
      operationId: login
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: password
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Login realizado exitosamente
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error en el login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /register:
    post:
      description: |
        Se le pasa comos parámetros el nombre de usuario, la contraseña en texto plano, el email
        la pregunta de seguridad y la respuesta a dicha presgunta.

        Devuelve un mensaje de confirmación de caso de poder crear el usuario y un error en caso de no poder crearlo.
      operationId: register
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: password
          in: header
          required: true
          schema:
            type: string
        - name: email
          in: header
          required: true
          schema:
            type: string
        - name: preg
          in: header
          required: true
          schema:
            type: string
        - name: res
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Usuario creado exitosamente
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error en el registro
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /profile/modify/password/{username}:
    post:
      description: |
        Se le pasa comos parámetros el nombre de usuario, la contraseña nueva en texto plano
        y la contraseña vieja o actual en texto plano

        Devuelve un mensaje de confirmación de caso de poder modificar la contraseña y
        un error en caso de error.
      operationId: modify_password
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
        - name: new_password
          in: header
          required: true
          schema:
            type: string
        - name: old_password
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contraseña cambiada exitosamente
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error al cambiar contraseña
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /login/recover/password:
    post:
      description: |
        Se le pasa comos parámetros el nombre de usuario, la respuesta a la pregunta de seguridad y
        la contraseña nueva en texto plano.

        Devuelve un mensaje de confirmación de caso de que la respuesta coincida con la proporcionda y se
        ha podido poder modificar la contraseña. Devuelve error en caso contrario.

      operationId: recover_password
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
        - name: res
          in: header
          required: true
          schema:
            type: string
        - name: new_password
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contraseña cambiada exitosamente
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error al cambiar contraseña
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /login/recover/pregunta:
    post:
      description: |
        Se le pasa como parámetro el nombre de usuario.

        Devuelve la pregunta de seguridad del usuario. Devuelve error en caso de no poder recuperar la pregunta.

      operationId: recover_preg
      parameters:
        - name: username
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pregunta recuperada exitosamente
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error al recuperar pregunta contraseña
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /logAsGuest:
    post:
      description: |
        No es necesario el paso de ningún parámetro.

        Devuelve el identificador temporal con el que identificar todas las operaciones
        relacionadas con el invitado.
      operationId: log_as_guest
      responses:
        default:
          description: Se le devuelve el identificador asignado
          content:
            application/json:
              schema:
                type: string

  /profile/listaComprados/{username}:
    post:
      description: |
        Se le pasa como parámetros el identificador que se ha asociado a dicho usuario en el login.

        Devuelve una lista con los objetos comprados por dicho usuario. Devuelve un mensaje de error si 
        hay algún probema al recuperar dicha lista.
      operationId: post_listaComprados
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lista de objetos comprados por dicho usuario
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
        default:
          description: Error al obtener listado de objetos comprados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /profile/modify/avatar/{username}:
    post:
      description: |
        Se le pasa comos parámetros el identificador que se ha asociado a dicho usuario en el login y
        el id del nuevo avatar que quiere usar el usuario en cuestión, este útimo debe pertenecer a su lista de comprados.

        Devuelve un mensaje de confirmación en caso de poder modificar el avatar. Devuelve un mensaje de error
        en caso contrario.
      operationId: modify_avatar
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
        - name: id_avatar
          in: header
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Avatar cambiado con éxito
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error al cambiar avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /profile/modify/formFicha/{username}:
    post:
      description: |
        Se le pasa comos parámetros el identificador que se ha asociado a dicho usuario en el login y
        el id de la nueva forma de ficha que quiere usar el usuario en cuestión, este útimo debe pertenecer a su lista de comprados.

        Devuelve un mensaje de confirmación en caso de poder modificar la forma de ficha. Devuelve un mensaje de error
        en caso contrario.
      operationId: modify_formFicha
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
        - name: id_formFicha
          in: header
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Forma de ficha cambiada con éxito
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error al cambiar forma de ficha
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /profile/modify/banner/{username}:
    post:
      description: |
        Se le pasa comos parámetros el identificador que se ha asociado a dicho usuario en el login y
        el id del nuevo banner que quiere usar el usuario en cuestión, este útimo debe pertenecer a su lista de comprados.

        Devuelve un mensaje de confirmación en caso de poder modificar el banner. Devuelve un mensaje de error
        en caso contrario.
      operationId: modify_banner
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
        - name: id_banner
          in: header
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Banner cambiado con éxito
          content:
            application/json:
              schema:
                type: string
        default:
          description: Error al cambiar banner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string

